
/*Dit is niet super netjes had 10 keer beter gekund */
body{
    max-width: 100%;
    overflow-x: hidden;
    font-family: "Roboto",sans-serif;
    margin: 0;
    color: white;
    background-color: #1A1A1A;
}
a{
  text-decoration: none;
  color: white;
  font-weight: 600;
}
a:hover{
  color: white;
  text-decoration: none;
}
label{
  font-size: 1.5em;
  font-weight: 300;
  display: inline-block;
  width: 80px;
  text-align: left;
  margin-left: 9.5%;
}
input[type="text"],input[type="email"],input[type="number"]{
  color:white;
  background-color: inherit;
  border:none;
  transition: 0.3s;
  transform: translate(100px,0px);
  width: 180px;
  font-size: 20px;
  height: 30px;
}
input[type="number"]{
  width: 100px;
}
input[type="text"],input[type="email"]::placeholder,input[type="number"]::placeholder{
  font-size: 20px;
}
input[type="text"]:focus,input[type="email"]:focus,input[type="number"]:focus{
  transform: scale(1.05,1.05) translate(100px,0px);
  outline:none;
}


.grijs{
  width: 85%;
  height: 5px;
  margin-left: 7.5%;
  border-bottom: 2px solid #1A1A1A;
}
.content{
  margin-top: 150px;
}
.kop{
  font-size: 4em;
  display: inline-block;
}
.opdr_img{
  transform: translate(0,12px);
  height: 70px;
  display: inline-block;
}
.center{
  text-align: center;
}
.form{
  border-radius: 5%;
  width: 400px;
  min-height: 600px;
  background-color:#2e2e2e;
  transform: translate(20%,150px);
  transition: 0.3s;
}
.form:hover{
  transform: scale(1.05,1.05) translate(20%,150px);
}
/*button voor opdracht A*/
.but_form{
  border: 1px solid  rgb(30,215,96);
  width: 125px;
  height: 40px;
  border-radius:10px;
  font-size: 2em;
  font-weight: 400;
  background-color: #2E2E2E;
  color: rgb(30,215,96);
  transition: 0.3s;
}
.but_form:hover{
  border:none;
  color: white;
  box-shadow: 0 4px 4px 0 #1ED760, 0 6px 15px 0 #1be362;
  background-color: rgb(30,215,96,0.8);
  transform: scale(1.05,1.05);
}
.error{
  text-align: center;
  font-size: 25px;
  font-weight: 600;
  width: 100%;
  height: 28px;
  background-color: rgba(186,24,24);
}
/*table*/
.table{
  text-align: left;
  overflow-x: auto;
  overflow-y: hidden;
  height: 600px;
  width: 950px;
  background-color: #2e2e2e;
  border-radius: 5%;
  transform: translate(55%,-450px);
  transition: 0.3s;
}
.table:hover{
    transform: scale(1.05,1.05) translate(53%,-423px);
}
.formulier{
  width: 85%;
  transform: translate(2.5%,0px);
  float: left;
}
.pos{
  position: relative;
  left: 50%;
  transform:translate(-50%,123px);
}

td{
  font-size: 20px;
  max-width: 30px;
  transform: translate(2.3%,0px);
}
td:hover{
  background-color:rgba(30,215,96,0.6);
}
tr.info:hover{
  background-color: #3b3b3b;
}
th{
  padding-right: 30px;
  font-size: 18px;
}
th:hover{
  transform: scale(1.05,1.05);
}
.mijnheader{
  z-index: 100;
  padding-top: 20px;
  transform: translate(0,-150px);
  background-color: inherit;
  height: 80px;
  width: 100vw;
  position:fixed;
  font-size: 100%;
  font-weight: 300;
}
.header{
  border: none;
  font-size: 2em;
  background-color: inherit;
  margin-left:100px;
  transition: 0.3s;
}
.header:hover{
  transform: scale(1.1 , 1.1);
}
