<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Opdracht-B</title>
    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/javascript.js"></script>
    <link rel="icon"type="image/png" href="img/js.png">
  </head>
  <body ng-app="myModule">
    <div class="mijnheader">
        <hr>
        <div class="center" style="margin-left:-100px;">
          <button type="submit" class="header"><a href="opdrachtA.html">Opdracht-A</a></button>
          <button type="submit" class="header"><a href="opdrachtC.php">Opdracht-C</a></button>
          <button type="submit" class="header"><a href="eindopdracht.php">Eindopdracht</a></button>
        </div>
        <hr>
    </div>
    <div class="content">
      <div class="center">
        <img src="img/vuur2.png" class="opdr_img">
          <div class="kop">Opdracht B</div>
        <img src="img/vuur4.png" class="opdr_img">
      </div>

      <div class="table" style="transform:translate(300px,100px);" ng-controller="myController">
        <div class="center">
          <br><h1>Tabel</h1><br>
        </div>
          <table class="formulier pos" style="transform:translate(-45%,0px);">
            <tr>
              <th ng-click="sortData('prijs')">Prijs</th>
              <th ng-click="sortData('merk')">Merk</th>
              <th ng-click="sortData('auto')">Auto</th>
              <th ng-click="sortData('gewicht')">Gewicht</th>
              <th ng-click="sortData('num')">num</th>
            </tr>
            <tr class="info" ng-repeat="auto in auto | orderBy:sortColumn:reverseSort">
              <td>$ {{auto.prijs}}K</td>
              <td class="uper">{{auto.merk}}</td> <!--zelf vind ik dat upper lelijk is-->
              <td>{{auto.auto}}</td>
              <td>{{auto.gewicht}}</td>
              <td>{{auto.num}}</td>
            </tr>
          </table>
      </div>
    </div>

  </body>
</html>
